    p {
      color: blue;
    }

    #myloc {
      color: orange;
    }

    #dropzone {
      position: absolute;
      border: 5px solid red;
    }

    .height100 {
      height: 100px;
    }

    .width250 {
      width: 250px;
    }

    #searchDiv {
      position: relative;
      left: 260px;
      top: 0px;
      border: 5px solid blue;
    }
